@{
    ViewData["Hola"] = "Cliente";
}

<div class="text-center">
    @Html.ActionLink("Cliente", "Clientes", new { }, new { @class = "btn" })
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
