@{
    ViewData["Hola"] = "Cliente";
}

<div class="text-center">
    @Html.ActionLink("Cliente", "Clientes", new { }, new { @class = "btn" })
    <h1 class="display-4">Welcome</h1>
    <img src="images/Photo1.jpg" alt="Sample Photo" />
</div>
